openapi: 3.0.3
info:
   version: '1.0'
   title: OGC API - Coverages
   description: |-
      Example API Definition for OGC API - Coverages - Part 1: Core
   contact:
      name: Open Geospatial Consortium
      url: https://ogc.org
      email: info@ogc.org
   license:
      name: OGC License
      url: http://www.opengeospatial.org/legal/
servers:
   - description: Example OGC API - Coverages server
     url: https://maps.ecere.com/ogcapi
paths:
   # OGC API - Common - Part 1: Core
   /:
      $ref: 'paths/common-core/pLandingPage.yaml'
   /conformance:
      $ref: 'paths/common-core/pConformance.yaml'
   /api:
      $ref: 'paths/common-core/pAPI.yaml'

   # Dynamic enumeration of resources specific to this implementation
   /api/all-collections:
      $ref: 'paths/dynamic/pAllCollections.yaml'
   /api/coverage-collections:
      $ref: 'paths/dynamic/pCoverageCollections.yaml'
   /api/tileMatrixSets:
      $ref: 'paths/dynamic/pTileMatrixSets.yaml'

   # OGC API - Common - Part 2: Geospatial data
   /collections:
      $ref: 'paths/common-geodata/pCollectionsList.yaml'
   /collections/{collectionId}:
      $ref: 'paths/common-geodata/pCollection.yaml'

   # OGC API - Coverages - Part 1: Core
   /collections/{collectionId}/coverage:
      $ref: 'paths/coverages-core/pCoverage.yaml'
   /collections/{collectionId}/schema:
      $ref: 'paths/coverages-core/pSchema.yaml'

   # Scenes
   /collections/{collectionId}/scenes:
      $ref: 'paths/coverages-core/pScenesList.yaml'
   /collections/{collectionId}/scenes/{sceneId}:
      $ref: 'paths/coverages-core/pScene.yaml'
   /collections/{collectionId}/scenes/{sceneId}/coverage:
      $ref: 'paths/coverages-core/pSceneCoverage.yaml'

   # Coverage Tiles
   /collections/{collectionId}/tiles:
      $ref: 'paths/tiles-core/collection-tiles/coverage-tiles/pCollectionCoverageTileSetsList.yaml'
   /collections/{collectionId}/tiles/{tileMatrixSetId}:
      $ref: 'paths/tiles-core/collection-tiles/coverage-tiles/pCollectionCoverageTileSet.yaml'
   /collections/{collectionId}/tiles/{tileMatrixSetId}/{tileMatrix}/{tileRow}/{tileCol}:
      $ref: 'paths/tiles-core/collection-tiles/coverage-tiles/pCollectionCoverageTile.yaml'

   /collections/{collectionId}/scenes/{sceneId}/tiles:
      $ref: 'paths/coverages-core/pSceneCoverageTileSetsList.yaml'
   /collections/{collectionId}/scenes/{sceneId}/tiles/{tileMatrixSetId}:
      $ref: 'paths/coverages-core/pSceneCoverageTileSet.yaml'
   /collections/{collectionId}/scenes/{sceneId}/tiles/{tileMatrixSetId}/{tileMatrix}/{tileRow}/{tileCol}:
      $ref: 'paths/coverages-core/pSceneCoverageTile.yaml'

components:
   schemas:
      # $ref: './schemas/index.yaml' # Not supported?
      # https://davidgarcia.dev/posts/how-to-split-open-api-spec-into-multiple-files/ vs.
      # https://stackoverflow.com/questions/64940379/ref-ing-multiple-files-at-the-components-schemas-top-level-in-openapi-3

      # Common - Core
      confClasses:
         $ref: 'schemas/common-core/confClasses.yaml'
      link:
         $ref: 'schemas/common-core/link.yaml'
      landingPage:
         $ref: 'schemas/common-core/landingPage.yaml'
      exception:
         $ref: 'schemas/common-core/exception.yaml'

      # Common - Geospatial Data
      collections:
         $ref: 'schemas/common-geodata/collections.yaml'
      collectionDesc:
         $ref: 'schemas/common-geodata/collectionDesc.yaml'
      extent:
         $ref: 'schemas/common-geodata/extent.yaml'
      extent-uad:
         $ref: 'schemas/common-geodata/extent-uad.yaml'
      crs:
         $ref: 'schemas/common-geodata/crs.yaml'
      dataType:
         $ref: 'schemas/common-geodata/dataType.yaml'
      timeStamp:
         $ref: 'schemas/common-geodata/timeStamp.yaml'
      # projJSON:
      #   $ref: 'schemas/common-geodata/projJSON.yaml'
      numberReturned:
         $ref: 'schemas/common-geodata/numberReturned.yaml'
      numberMatched:
         $ref: 'schemas/common-geodata/numberMatched.yaml'
      schema:
         $ref: 'schemas/tms/propertiesSchema.yaml'

      # CIS
      coverageSchema:
         $ref: 'schemas/cis/coverage-schema.yaml'

      # 2D Tile Matrix Set & Tile Set Metadata
      tileSet:
         $ref: 'schemas/tms/tileSet.yaml'
      tileSet-item:
         $ref: 'schemas/tms/tileSet-item.yaml'
      tileMatrixLimits:
         $ref: 'schemas/tms/tileMatrixLimits.yaml'
      2DPoint:
         $ref: 'schemas/tms/2DPoint.yaml'
      2DBoundingBox:
         $ref: 'schemas/tms/2DBoundingBox.yaml'

      # Dynamic (or implementation-specific)
      enumeration:
         $ref: 'schemas/dynamic/enumeration.yaml'

      all-collections:
         $ref: 'schemas/dynamic/all-collections.yaml'
      coverage-collections:
         $ref: 'schemas/dynamic/coverage-collections.yaml'
      tileMatrixSets:
         $ref: 'schemas/dynamic/tileMatrixSets.yaml'

   parameters:
      # Common - Core
      f-metadata:
         $ref: 'parameters/unspecified/f-metadata.yaml'

      # Common - Geospatial data
      collectionId-all:
         $ref: 'parameters/common-geodata/collectionId-all.yaml'
      collectionId-coverage:
         $ref: 'parameters/common-geodata/collectionId-coverage.yaml'
      datetime:
         $ref: 'parameters/common-geodata/datetime.yaml'
      bbox:
         $ref: 'parameters/common-geodata/bbox.yaml'

      # Coverages - Core
      sceneId:
         $ref: 'parameters/coverages-core/sceneId.yaml'
      scale-factor:
         $ref: 'parameters/coverages-core/scale-factor.yaml'
      scale-axes:
         $ref: 'parameters/coverages-core/scale-axes.yaml'
      scale-size:
         $ref: 'parameters/coverages-core/scale-size.yaml'
      properties:
         $ref: 'parameters/coverages-core/properties.yaml'
      width:
         $ref: 'parameters/coverages-core/width.yaml'
      height:
         $ref: 'parameters/coverages-core/height.yaml'
      subset:
         $ref: 'parameters/coverages-core/subset.yaml'
      crs:
         $ref: 'parameters/coverages-core/crs.yaml'
      subset-crs:
         $ref: 'parameters/coverages-core/subset-crs.yaml'
      bbox-crs:
         $ref: 'parameters/coverages-core/bbox-crs.yaml'

      # Coverages - Core (unspecified)
      f-coverage:
         $ref: 'parameters/unspecified/f-coverage.yaml'

      # Tiles - Core
      tileMatrix:
         $ref: 'parameters/tiles-core/tileMatrix.yaml'
      tileRow:
         $ref: 'parameters/tiles-core/tileRow.yaml'
      tileCol:
         $ref: 'parameters/tiles-core/tileCol.yaml'

      # Tiles - Core (unspecified)
      tileMatrixSetId:
         $ref: 'parameters/unspecified/tileMatrixSetId.yaml'
      f-coverageTile:
         $ref: 'parameters/unspecified/f-coverageTile.yaml'

   responses:
      # Generic Errors
      NotFound:
         $ref: 'responses/common-core/rNotFound.yaml'
      NotAcceptable:
         $ref: 'responses/common-core/rNotAcceptable.yaml'
      ServerError:
         $ref: 'responses/common-core/rServerError.yaml'
      InvalidParameter:
         $ref: 'responses/common-core/rInvalidParameter.yaml'
      Exception:
         $ref: 'responses/common-core/rException.yaml'

      # Common - Core
      LandingPage:
         $ref: 'responses/common-core/rLandingPage.yaml'
      Conformance:
         $ref: 'responses/common-core/rConformance.yaml'
      API:
         $ref: 'responses/common-core/rAPI.yaml'

      # Coverages - Core
      Coverage:
         $ref: 'responses/coverages-core/rCoverage.yaml'
      Scene:
         $ref: 'responses/coverages-core/rScene.yaml'
      ScenesList:
         $ref: 'responses/coverages-core/rScenesList.yaml'

      # Dynamic enumeration of resources specific to this implementation
      Enumeration:
         $ref: 'responses/dynamic/rEnumeration.yaml'

      # Common - Geospatial Data
      CollectionsList:
         $ref: 'responses/common-geodata/rCollectionsList.yaml'
      Collection:
         $ref: 'responses/common-geodata/rCollection.yaml'

      # Tiles - Core
      TileSetsList:
         $ref: 'responses/tiles-core/rTileSetsList.yaml'
      TileSet:
         $ref: 'responses/tiles-core/rTileSet.yaml'
      CoverageTile:
         $ref: 'responses/tiles-core/rCoverageTile.yaml'
      EmptyTile:
         $ref: 'responses/tiles-core/rEmptyTile.yaml'
