{
  "openapi": "3.0.3",
  "info": {
    "version": "1.0",
    "title": "OGC API - Coverages",
    "description": "Example API Definition for OGC API - Coverages - Part 1: Core",
    "contact": {
      "name": "Open Geospatial Consortium",
      "url": "https://ogc.org",
      "email": "info@ogc.org"
    },
    "license": {
      "name": "OGC License",
      "url": "http://www.opengeospatial.org/legal/"
    }
  },
  "servers": [
    {
      "description": "Example OGC API - Coverages server",
      "url": "https://maps.ecere.com/ogcapi"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Landing Page"
        ],
        "operationId": "getLandingPage",
        "summary": "Retrieve the OGC API landing page for this service.",
        "parameters": [
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LandingPage"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/conformance": {
      "get": {
        "tags": [
          "Conformance"
        ],
        "operationId": "getConformance",
        "summary": "Retrieve the set of OGC API conformance classes that are supported by this service.",
        "parameters": [
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Conformance"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api": {
      "get": {
        "tags": [
          "API"
        ],
        "operationId": "getAPI",
        "summary": "Retrieve this API definition.",
        "parameters": [
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/API"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/all-collections": {
      "get": {
        "tags": [
          "API"
        ],
        "operationId": "getAPICollections",
        "summary": "JSON enumeration of all the collections available from this API implementation & deployment (for inclusion in the API definition).",
        "parameters": [
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Enumeration"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/coverage-collections": {
      "get": {
        "tags": [
          "API"
        ],
        "operationId": "getAPICoverageCollections",
        "summary": "JSON enumeration of the coverage collections available from this API implementation & deployment (for inclusion in the API definition).",
        "parameters": [
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Enumeration"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/tileMatrixSets": {
      "get": {
        "tags": [
          "API"
        ],
        "operationId": "getAPITileMatrixSets",
        "summary": "JSON enumeration of the shared TileMatrixSets available from this API implementation & deployment (for inclusion in the API definition).",
        "parameters": [
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Enumeration"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/collections": {
      "get": {
        "tags": [
          "Data Collections"
        ],
        "operationId": "getCollectionsList",
        "summary": "Retrieve the list of geospatial data collections available from this service.",
        "parameters": [
          {
            "$ref": "#/components/parameters/datetime"
          },
          {
            "$ref": "#/components/parameters/bbox"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The optional limit parameter limits the number of collections that are presented in the response document.\nOnly items are counted that are on the first level of the collection in the response document. Nested objects contained within the explicitly requested items shall not be counted.\n* Minimum = 1 * Maximum = 10000 * Default = 10",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 10
            },
            "style": "form",
            "explode": false
          },
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CollectionsList"
          }
        }
      }
    },
    "/collections/{collectionId}": {
      "get": {
        "tags": [
          "Data Collections"
        ],
        "operationId": "getCollection",
        "summary": "Retrieve the description of a collection available from this service.",
        "parameters": [
          {
            "$ref": "#/components/parameters/collectionId-all"
          },
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Collection"
          }
        }
      }
    },
    "/collections/{collectionId}/coverage": {
      "get": {
        "tags": [
          "Coverage"
        ],
        "summary": "Retrieve the coverage identified by {collectionId}",
        "description": "Coverage identified by {collectionId}.\nUse content negotiation to request required format.",
        "operationId": "getCoverage",
        "parameters": [
          {
            "$ref": "#/components/parameters/collectionId-coverage"
          },
          {
            "$ref": "#/components/parameters/subset"
          },
          {
            "$ref": "#/components/parameters/bbox"
          },
          {
            "$ref": "#/components/parameters/datetime"
          },
          {
            "$ref": "#/components/parameters/properties"
          },
          {
            "$ref": "#/components/parameters/resolution"
          },
          {
            "$ref": "#/components/parameters/width"
          },
          {
            "$ref": "#/components/parameters/height"
          },
          {
            "$ref": "#/components/parameters/subset-crs"
          },
          {
            "$ref": "#/components/parameters/bbox-crs"
          },
          {
            "$ref": "#/components/parameters/crs"
          },
          {
            "$ref": "#/components/parameters/f-coverage"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Coverage"
          },
          "default": {
            "$ref": "#/components/responses/Exception"
          }
        }
      }
    },
    "/collections/{collectionId}/schema": {
      "get": {
        "tags": [
          "Coverage"
        ],
        "summary": "Retrieve the schema of the coverage identified by {collectionId}",
        "description": "Schema for coverage identified by {collectionId}.\nUse content negotiation to request required format.",
        "operationId": "getCollectionSchema",
        "parameters": [
          {
            "$ref": "#/components/parameters/collectionId-coverage"
          },
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "description": "Collection schema describing all fields of the coverage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/schema"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Exception"
          }
        }
      }
    },
    "/collections/{collectionId}/scenes": {
      "get": {
        "tags": [
          "Scenes"
        ],
        "summary": "Retrieve the list of scenes comprising this collection",
        "description": "The list of scenes comprising this collection.",
        "operationId": "getCollectionScenes",
        "parameters": [
          {
            "$ref": "#/components/parameters/collectionId-coverage"
          },
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ScenesList"
          },
          "default": {
            "$ref": "#/components/responses/Exception"
          }
        }
      }
    },
    "/collections/{collectionId}/scenes/{sceneId}": {
      "get": {
        "tags": [
          "Scenes"
        ],
        "summary": "Retrieve metadata for a particular scene",
        "description": "Retrieve metadata for a particular scene",
        "operationId": "getScene",
        "parameters": [
          {
            "$ref": "#/components/parameters/collectionId-coverage"
          },
          {
            "$ref": "#/components/parameters/sceneId"
          },
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Scene"
          },
          "default": {
            "$ref": "#/components/responses/Exception"
          }
        }
      }
    },
    "/collections/{collectionId}/scenes/{sceneId}/coverage": {
      "get": {
        "tags": [
          "Scenes"
        ],
        "summary": "Retrieve the coverage for scene {sceneId} of {collectionId}",
        "description": "Coverage for scene {sceneId} of collection identified by {collectionId}.\nUse content negotiation to request required format.",
        "operationId": "getSceneCoverage",
        "parameters": [
          {
            "$ref": "#/components/parameters/collectionId-coverage"
          },
          {
            "$ref": "#/components/parameters/sceneId"
          },
          {
            "$ref": "#/components/parameters/subset"
          },
          {
            "$ref": "#/components/parameters/bbox"
          },
          {
            "$ref": "#/components/parameters/datetime"
          },
          {
            "$ref": "#/components/parameters/properties"
          },
          {
            "$ref": "#/components/parameters/resolution"
          },
          {
            "$ref": "#/components/parameters/width"
          },
          {
            "$ref": "#/components/parameters/height"
          },
          {
            "$ref": "#/components/parameters/subset-crs"
          },
          {
            "$ref": "#/components/parameters/bbox-crs"
          },
          {
            "$ref": "#/components/parameters/crs"
          },
          {
            "$ref": "#/components/parameters/f-coverage"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Coverage"
          },
          "default": {
            "$ref": "#/components/responses/Exception"
          }
        }
      }
    },
    "/collections/{collectionId}/tiles": {
      "get": {
        "tags": [
          "Coverage Tiles"
        ],
        "summary": "Retrieve the list of available coverage tilesets for the specified collection.",
        "operationId": ".collection.coverage.getTileSetsList",
        "parameters": [
          {
            "$ref": "#/components/parameters/collectionId-coverage"
          },
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TileSetsList"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/collections/{collectionId}/tiles/{tileMatrixSetId}": {
      "get": {
        "tags": [
          "Coverage Tiles"
        ],
        "summary": "Retrieve the coverage tileset metadata for the specified collection and tiling scheme (tile matrix set)",
        "operationId": ".collection.coverage.getTileSet",
        "parameters": [
          {
            "$ref": "#/components/parameters/collectionId-coverage"
          },
          {
            "$ref": "#/components/parameters/tileMatrixSetId"
          },
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TileSet"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/collections/{collectionId}/tiles/{tileMatrixSetId}/{tileMatrix}/{tileRow}/{tileCol}": {
      "get": {
        "tags": [
          "Coverage Tiles"
        ],
        "summary": "Retrieve coverage tiles",
        "operationId": ".collection.coverage.getTile",
        "parameters": [
          {
            "$ref": "#/components/parameters/tileMatrix"
          },
          {
            "$ref": "#/components/parameters/tileRow"
          },
          {
            "$ref": "#/components/parameters/tileCol"
          },
          {
            "$ref": "#/components/parameters/datetime"
          },
          {
            "$ref": "#/components/parameters/collectionId-coverage"
          },
          {
            "$ref": "#/components/parameters/subset"
          },
          {
            "$ref": "#/components/parameters/crs"
          },
          {
            "$ref": "#/components/parameters/subset-crs"
          },
          {
            "$ref": "#/components/parameters/tileMatrixSetId"
          },
          {
            "$ref": "#/components/parameters/f-coverageTile"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CoverageTile"
          },
          "204": {
            "$ref": "#/components/responses/EmptyTile"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/collections/{collectionId}/scenes/{sceneId}/tiles": {
      "get": {
        "tags": [
          "Coverage Tiles"
        ],
        "summary": "Retrieve the list of available coverage tilesets for the specified coverage scene.",
        "operationId": ".collection.scene.coverage.getTileSetsList",
        "parameters": [
          {
            "$ref": "#/components/parameters/collectionId-coverage"
          },
          {
            "$ref": "#/components/parameters/sceneId"
          },
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TileSetsList"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/collections/{collectionId}/scenes/{sceneId}/tiles/{tileMatrixSetId}": {
      "get": {
        "tags": [
          "Coverage Tiles"
        ],
        "summary": "Retrieve the coverage scene tileset metadata for the specified collection, scene and tiling scheme (tile matrix set)",
        "operationId": ".collection.scene.coverage.getTileSet",
        "parameters": [
          {
            "$ref": "#/components/parameters/collectionId-coverage"
          },
          {
            "$ref": "#/components/parameters/sceneId"
          },
          {
            "$ref": "#/components/parameters/tileMatrixSetId"
          },
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TileSet"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/collections/{collectionId}/scenes/{sceneId}/tiles/{tileMatrixSetId}/{tileMatrix}/{tileRow}/{tileCol}": {
      "get": {
        "tags": [
          "Coverage Tiles"
        ],
        "summary": "Retrieve coverage scene tiles",
        "operationId": ".collection.scene.coverage.getTile",
        "parameters": [
          {
            "$ref": "#/components/parameters/tileMatrix"
          },
          {
            "$ref": "#/components/parameters/tileRow"
          },
          {
            "$ref": "#/components/parameters/tileCol"
          },
          {
            "$ref": "#/components/parameters/datetime"
          },
          {
            "$ref": "#/components/parameters/collectionId-coverage"
          },
          {
            "$ref": "#/components/parameters/sceneId"
          },
          {
            "$ref": "#/components/parameters/subset"
          },
          {
            "$ref": "#/components/parameters/crs"
          },
          {
            "$ref": "#/components/parameters/subset-crs"
          },
          {
            "$ref": "#/components/parameters/tileMatrixSetId"
          },
          {
            "$ref": "#/components/parameters/f-coverageTile"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CoverageTile"
          },
          "204": {
            "$ref": "#/components/responses/EmptyTile"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "confClasses": {
        "type": "object",
        "required": [
          "conformsTo"
        ],
        "properties": {
          "conformsTo": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "required": [
          "href",
          "rel"
        ],
        "properties": {
          "href": {
            "type": "string",
            "description": "Supplies the URI to a remote resource (or resource fragment).",
            "example": "http://data.example.com/buildings/123"
          },
          "rel": {
            "type": "string",
            "description": "The type or semantics of the relation.",
            "example": "alternate"
          },
          "type": {
            "type": "string",
            "description": "A hint indicating what the media type of the result of dereferencing the link should be.",
            "example": "application/geo+json"
          },
          "hreflang": {
            "type": "string",
            "description": "A hint indicating what the language of the result of dereferencing the link should be.",
            "example": "en"
          },
          "title": {
            "type": "string",
            "description": "Used to label the destination of a link such that it can be used as a human-readable identifier.",
            "example": "Trierer Strasse 70, 53115 Bonn"
          },
          "length": {
            "type": "integer"
          }
        }
      },
      "landingPage": {
        "type": "object",
        "required": [
          "links"
        ],
        "properties": {
          "title": {
            "type": "string",
            "title": "The title of the API.",
            "description": "While a title is not required, implementors are strongly advised to include one.",
            "example": "Buildings in Bonn"
          },
          "description": {
            "type": "string",
            "example": "Access to data about buildings in the city of Bonn via a Web API that conforms to the OGC API Common specification."
          },
          "attribution": {
            "type": "string",
            "title": "attribution for the API",
            "description": "The `attribution` should be short and intended for presentation to a user, for example, in a corner of a map. Parts of the text can be links to other resources if additional information is needed. The string can include HTML markup."
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "exception": {
        "title": "Exception Schema",
        "description": "JSON schema for exceptions based on RFC 7807",
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        }
      },
      "collections": {
        "type": "object",
        "required": [
          "links",
          "collections"
        ],
        "properties": {
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "timeStamp": {
            "type": "string",
            "format": "date-time"
          },
          "numberMatched": {
            "$ref": "#/components/schemas/numberMatched"
          },
          "numberReturned": {
            "$ref": "#/components/schemas/numberReturned"
          },
          "collections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/collectionDesc"
            }
          }
        }
      },
      "collectionDesc": {
        "type": "object",
        "required": [
          "id",
          "links"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "identifier of the collection used, for example, in URIs",
            "example": "dem"
          },
          "title": {
            "type": "string",
            "description": "human readable title of the collection",
            "example": "Digital Elevation Model"
          },
          "description": {
            "type": "string",
            "description": "a description of the data in the collection",
            "example": "A Digital Elevation Model."
          },
          "attribution": {
            "type": "string",
            "title": "attribution for the collection"
          },
          "links": {
            "type": "array",
            "example": [
              {
                "href": "http://data.example.org/collections/dem?f=json",
                "rel": "self",
                "type": "application/json",
                "title": "Digital Elevation Model"
              },
              {
                "href": "http://data.example.org/collections/dem?f=html",
                "rel": "alternate",
                "type": "application/json",
                "title": "Digital Elevation Model"
              },
              {
                "href": "http://data.example.org/collections/dem/coverage",
                "rel": "coverage",
                "type": "image/tiff; application=geotiff",
                "title": "Digital Elevation Model"
              },
              {
                "href": "http://data.example.org/collections/dem/coverage/domainset",
                "rel": "domainset",
                "type": "application/json",
                "title": "Digital Elevation Model"
              },
              {
                "href": "http://data.example.org/collections/dem/coverage/rangetype",
                "rel": "rangetype",
                "type": "application/json",
                "title": "Digital Elevation Model"
              },
              {
                "href": "http://data.example.org/collections/dem/coverage/metadata",
                "rel": "metadata",
                "type": "application/json",
                "title": "Digital Elevation Model"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "extent": {
            "$ref": "#/components/schemas/extent-uad"
          },
          "itemType": {
            "description": "indicator about the type of the items in the collection if the collection has an accessible /collections/{collectionId}/items endpoint",
            "type": "string",
            "default": "unknown"
          },
          "crs": {
            "description": "the list of coordinate reference systems supported by the API; the first item is the default coordinate reference system",
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": [
              "http://www.opengis.net/def/crs/OGC/1.3/CRS84"
            ],
            "example": [
              "http://www.opengis.net/def/crs/OGC/1.3/CRS84",
              "http://www.opengis.net/def/crs/EPSG/0/4326"
            ]
          },
          "storageCrs": {
            "description": "the native coordinate reference system (i.e., the most efficient CRS in which to request the data, possibly how the data is stored on the server); this is the default output coordinate reference system for Maps and Coverages",
            "type": "string",
            "default": "http://www.opengis.net/def/crs/OGC/1.3/CRS84",
            "example": "http://www.opengis.net/def/crs/OGC/1.3/CRS84"
          },
          "dataType": {
            "allOf": [
              {
                "description": "Type of data represented in the collection"
              },
              {
                "$ref": "#/components/schemas/dataType"
              }
            ]
          },
          "geometryDimension": {
            "description": "The geometry dimension of the features shown in this layer (0: points, 1: curves, 2: surfaces, 3: solids), unspecified: mixed or unknown",
            "type": "integer",
            "minimum": 0,
            "maximum": 3
          },
          "minScaleDenominator": {
            "description": "Minimum scale denominator for usage of the collection",
            "type": "number"
          },
          "maxScaleDenominator": {
            "description": "Maximum scale denominator for usage of the collection",
            "type": "number"
          },
          "minCellSize": {
            "description": "Minimum cell size for usage of the collection",
            "type": "number"
          },
          "maxCellSize": {
            "description": "Maximum cell size for usage of the collection",
            "type": "number"
          }
        }
      },
      "extent": {
        "description": "The extent of the data in the collection. In the Core only spatial and temporal\nextents are specified. Extensions may add additional members to represent other\nextents, for example, thermal or pressure ranges.\n\nThe first item in the array describes the overall extent of\nthe data. All subsequent items describe more precise extents,\ne.g., to identify clusters of data.\nClients only interested in the overall extent will only need to\naccess the first item in each array.",
        "type": "object",
        "properties": {
          "spatial": {
            "description": "The spatial extent of the data in the collection.",
            "type": "object",
            "properties": {
              "bbox": {
                "description": "One or more bounding boxes that describe the spatial extent of the dataset.\n\nThe first bounding box describes the overall spatial\nextent of the data. All subsequent bounding boxes describe\nmore precise bounding boxes, e.g., to identify clusters of data.\nClients only interested in the overall spatial extent will\nonly need to access the first item in each array.",
                "type": "array",
                "minItems": 1,
                "items": {
                  "description": "Each bounding box is provided as four or six numbers, depending on\nwhether the coordinate reference system includes a vertical axis\n(height or depth):\n\n* Lower left corner, coordinate axis 1\n* Lower left corner, coordinate axis 2\n* Minimum value, coordinate axis 3 (optional)\n* Upper right corner, coordinate axis 1\n* Upper right corner, coordinate axis 2\n* Maximum value, coordinate axis 3 (optional)\n\nIf the value consists of four numbers, the coordinate reference system is\nWGS 84 longitude/latitude (http://www.opengis.net/def/crs/OGC/1.3/CRS84)\nunless a different coordinate reference system is specified in `crs` property.\n\nIf the value consists of six numbers, the coordinate reference system is WGS 84\nlongitude/latitude/ellipsoidal height (http://www.opengis.net/def/crs/OGC/0/CRS84h)\nunless a different coordinate reference system is specified in `crs` property.\n\nFor WGS 84 longitude/latitude the values are in most cases the sequence of\nminimum longitude, minimum latitude, maximum longitude and maximum latitude.\nHowever, in cases where the box spans the antimeridian the first value\n(west-most box edge) is larger than the third value (east-most box edge).\n\nIf the vertical axis is included, the third and the sixth number are\nthe bottom and the top of the 3-dimensional bounding box.\n\nIf a feature has multiple spatial geometry properties, it is the decision of the\nserver whether only a single spatial geometry property is used to determine\nthe extent or all relevant geometries.",
                  "type": "array",
                  "oneOf": [
                    {
                      "minItems": 4,
                      "maxItems": 4
                    },
                    {
                      "minItems": 6,
                      "maxItems": 6
                    }
                  ],
                  "items": {
                    "type": "number"
                  },
                  "example": [
                    -180,
                    -90,
                    180,
                    90
                  ]
                }
              },
              "storageCrsBbox": {
                "description": "One or more bounding boxes that describe the spatial extent of the dataset in the storage (native) CRS (`storageCrs` property).\n\nThe first bounding box describes the overall spatial\nextent of the data. All subsequent bounding boxes describe\nmore precise bounding boxes, e.g., to identify clusters of data.\nClients only interested in the overall spatial extent will\nonly need to access the first item in each array.",
                "type": "array",
                "minItems": 1,
                "items": {
                  "description": "Each bounding box is provided as four or six numbers, depending on\nwhether the coordinate reference system includes a vertical axis\n(height or depth):\n\n* Lower left corner, coordinate axis 1\n* Lower left corner, coordinate axis 2\n* Minimum value, coordinate axis 3 (optional)\n* Upper right corner, coordinate axis 1\n* Upper right corner, coordinate axis 2\n* Maximum value, coordinate axis 3 (optional)",
                  "type": "array",
                  "oneOf": [
                    {
                      "minItems": 4,
                      "maxItems": 4
                    },
                    {
                      "minItems": 6,
                      "maxItems": 6
                    }
                  ],
                  "items": {
                    "type": "number"
                  },
                  "example": [
                    -180,
                    -90,
                    180,
                    90
                  ]
                }
              },
              "crs": {
                "description": "Coordinate reference system of the coordinates of the `bbox` property.\nThe default reference system is WGS 84 longitude/latitude.\nWGS 84 longitude/latitude/ellipsoidal height for coordinates with height.\nFor non-terrestrial coordinate reference system, another CRS may be specified.",
                "type": "string",
                "enum": [
                  "http://www.opengis.net/def/crs/OGC/1.3/CRS84",
                  "http://www.opengis.net/def/crs/OGC/0/CRS84h"
                ],
                "default": "http://www.opengis.net/def/crs/OGC/1.3/CRS84"
              },
              "grid": {
                "description": "Provides information about the limited availability of data within the collection organized\nas a grid (regular or irregular) along each spatial dimension.",
                "type": "array",
                "minItems": 2,
                "maxItems": 3,
                "items": {
                  "type": "object",
                  "properties": {
                    "coordinates": {
                      "description": "List of coordinates along the dimension for which data organized as an irregular grid in the collection is available\n(e.g., 2, 10, 80, 100).",
                      "type": "array",
                      "minItems": 1,
                      "items": {
                        "oneOf": [
                          {
                            "type": "string",
                            "nullable": true
                          },
                          {
                            "type": "number"
                          }
                        ]
                      },
                      "example": [
                        2,
                        10,
                        80,
                        100
                      ]
                    },
                    "cellsCount": {
                      "description": "Number of samples available along the dimension for data organized as a regular grid.\nFor values representing the whole area of contiguous cells spanning _resolution_ units along the dimension, this will be (_upperBound_ - _lowerBound_) / _resolution_.\nFor values representing infinitely small point cells spaced by _resolution_ units along the dimension, this will be (_upperBound_ - _lowerBound_) / _resolution_ + 1.",
                      "type": "integer",
                      "example": 50
                    },
                    "resolution": {
                      "description": "Resolution of regularly gridded data along the dimension in the collection",
                      "oneOf": [
                        {
                          "type": "string",
                          "nullable": true
                        },
                        {
                          "type": "number"
                        }
                      ],
                      "example": 0.0006866455078
                    }
                  }
                }
              }
            }
          },
          "temporal": {
            "description": "The temporal extent of the features in the collection.",
            "type": "object",
            "properties": {
              "interval": {
                "description": "One or more time intervals that describe the temporal extent of the dataset.\nIn the Core only a single time interval is supported.\n\nExtensions may support multiple intervals.\nThe first time interval describes the overall\ntemporal extent of the data. All subsequent time intervals describe\nmore precise time intervals, e.g., to identify clusters of data.\nClients only interested in the overall extent will only need\nto access the first item in each array.",
                "type": "array",
                "minItems": 1,
                "items": {
                  "description": "Begin and end times of the time interval. The timestamps are in the\ntemporal coordinate reference system specified in `trs`. By default\nthis is the Gregorian calendar, expressed using RFC 3339 section 5.6.\nNote that these times may be specified using time zone offsets to UTC time other than zero.\n\nThe value `null` for start or end time is supported and indicates a half-bounded time interval.",
                  "type": "array",
                  "minItems": 2,
                  "maxItems": 2,
                  "items": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  },
                  "example": [
                    "2011-11-11T12:22:11Z",
                    "2011-11-11T08:22:11-04:00",
                    null
                  ]
                }
              },
              "trs": {
                "description": "Coordinate reference system of the coordinates in the temporal extent\n(property `interval`). The default reference system is the Gregorian calendar.\nIn the Core this is the only supported temporal coordinate reference system.\nExtensions may support additional temporal coordinate reference systems and add\nadditional enum values.",
                "type": "string",
                "enum": [
                  "http://www.opengis.net/def/uom/ISO-8601/0/Gregorian"
                ],
                "default": "http://www.opengis.net/def/uom/ISO-8601/0/Gregorian"
              },
              "grid": {
                "type": "object",
                "description": "Provides information about the limited availability of data within the collection organized as a grid (regular or irregular) along the temporal dimension.",
                "properties": {
                  "coordinates": {
                    "description": "List of coordinates along the temporal dimension for which data organized as an irregular grid in the collection is available\n(e.g., \"2017-11-14T09:00Z\",\"2017-11-14T12:00Z\",\"2017-11-14T15:00Z\",\"2017-11-14T18:00Z\",\"2017-11-14T21:00Z\").",
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string",
                      "nullable": true
                    },
                    "example": [
                      [
                        "2020-11-12T12:15Z",
                        "2020-11-12T12:30Z",
                        "2020-11-12T12:45Z"
                      ]
                    ]
                  },
                  "cellsCount": {
                    "description": "Number of samples available along the temporal dimension for data organized as a regular grid.\nFor values representing the whole area of contiguous cells spanning _resolution_ units along the dimension, this will be (_upperBound_ - _lowerBound_) / _resolution_.\nFor values representing infinitely small point cells spaced by _resolution_ units along the dimension, this will be (_upperBound_ - _lowerBound_) / _resolution_ + 1.",
                    "type": "integer",
                    "example": 50
                  },
                  "resolution": {
                    "description": "Resolution of regularly gridded data along the temporal dimension in the collection",
                    "oneOf": [
                      {
                        "type": "string",
                        "nullable": true
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "example": "PT1H"
                  }
                }
              }
            }
          }
        }
      },
      "extent-uad": {
        "title": "Extent with Uniform Additional Dimensions Schema",
        "description": "The extent module only addresses spatial and temporal extents. This module extends extent by specifying how\nintervals and crs properties can be used to specify additional geometries.",
        "allOf": [
          {
            "$ref": "#/components/schemas/extent"
          },
          {
            "type": "object",
            "additionalProperties": {
              "description": "The domain intervals for any additional dimensions of the extent (envelope) beyond those described in temporal and spatial.",
              "type": "object",
              "oneOf": [
                {
                  "required": [
                    "interval",
                    "definition"
                  ]
                },
                {
                  "required": [
                    "interval",
                    "trs"
                  ]
                },
                {
                  "required": [
                    "interval",
                    "vrs"
                  ]
                }
              ],
              "properties": {
                "interval": {
                  "description": "One or more intervals that describe the extent for this dimension of the dataset.\nThe value `null` is supported and indicates an unbounded or half-bounded interval.\nThe first interval describes the overall extent of the data for this dimension.\nAll subsequent intervals describe more precise intervals, e.g., to identify clusters of data.\nClients only interested in the overall extent will only need\nto access the first item (a pair of lower and upper bound values).",
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "description": "Lower and upper bound values of the interval. The values\nare in the coordinate reference system specified in `crs`, `trs` or `vrs`.",
                    "type": "array",
                    "minItems": 2,
                    "maxItems": 2,
                    "items": {
                      "oneOf": [
                        {
                          "type": "string",
                          "nullable": true
                        },
                        {
                          "type": "number"
                        }
                      ]
                    },
                    "example": [
                      "2011-11-11T12:22:11Z",
                      "2011-11-11T08:22:11-04:00",
                      32.5,
                      null
                    ]
                  }
                },
                "trs": {
                  "type": "string",
                  "description": "temporal coordinate reference system (e.g. as defined by Features for 'temporal')"
                },
                "vrs": {
                  "type": "string",
                  "description": "vertical coordinate reference system (e.g. as defined in EDR for 'vertical')"
                },
                "grid": {
                  "type": "object",
                  "description": "Provides information about the limited availability of data within the collection organized as a grid (regular or irregular) along the dimension.",
                  "properties": {
                    "coordinates": {
                      "description": "List of coordinates along the temporal dimension for which data organized as an irregular grid in the collection is available\n(e.g., 2, 10, 80, 100).",
                      "type": "array",
                      "minItems": 1,
                      "items": {
                        "oneOf": [
                          {
                            "type": "string",
                            "nullable": true
                          },
                          {
                            "type": "number"
                          }
                        ]
                      },
                      "example": [
                        2,
                        10,
                        80,
                        100
                      ]
                    },
                    "cellsCount": {
                      "description": "Number of samples available along the dimension for data organized as a regular grid.\nFor values representing the whole area of contiguous cells spanning _resolution_ units along the dimension, this will be (_upperBound_ - _lowerBound_) / _resolution_.\nFor values representing infinitely small point cells spaced by _resolution_ units along the dimension, this will be (_upperBound_ - _lowerBound_) / _resolution_ + 1.",
                      "type": "integer",
                      "example": 50
                    },
                    "resolution": {
                      "description": "Resolution of regularly gridded data along the dimension in the collection",
                      "oneOf": [
                        {
                          "type": "string",
                          "nullable": true
                        },
                        {
                          "type": "number"
                        }
                      ],
                      "example": [
                        "PT1H",
                        0.0006866455078
                      ]
                    }
                  }
                },
                "definition": {
                  "type": "string",
                  "format": "uri",
                  "description": "A URI to the definition of the measured or observed property corresponding to this dimension."
                },
                "unit": {
                  "type": "string",
                  "description": "The unit of measure in which the interval and/or grid values are expressed."
                },
                "unitLang": {
                  "type": "string",
                  "default": "UCUM",
                  "description": "The language (or vocabulary) in which the unit is expressed (defaults to \"UCUM\" if not specified)."
                }
              }
            }
          }
        ]
      },
      "crs": {
        "title": "CRS",
        "oneOf": [
          {
            "description": "Simplification of the object into a url if the other properties are not present",
            "type": "string"
          },
          {
            "type": "object",
            "oneOf": [
              {
                "required": [
                  "uri"
                ],
                "properties": {
                  "uri": {
                    "description": "Reference to one coordinate reference system (CRS)",
                    "type": "string",
                    "format": "uri"
                  }
                }
              },
              {
                "required": [
                  "wkt"
                ],
                "properties": {
                  "wkt": {
                    "allOf": [
                      {
                        "description": "An object defining the CRS using the JSON encoding for Well-known text representation of coordinate reference systems 2.0"
                      },
                      {
                        "type": "object"
                      }
                    ]
                  }
                }
              },
              {
                "required": [
                  "referenceSystem"
                ],
                "properties": {
                  "referenceSystem": {
                    "description": "A reference system data structure as defined in the MD_ReferenceSystem of the ISO 19115",
                    "type": "object"
                  }
                }
              }
            ]
          }
        ]
      },
      "dataType": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "string",
            "enum": [
              "map",
              "vector",
              "coverage"
            ]
          }
        ]
      },
      "timeStamp": {
        "description": "This property indicates the time and date when the response was generated using RFC 3339 notation.",
        "type": "string",
        "format": "date-time",
        "example": "2017-08-17T08:05:32Z"
      },
      "numberReturned": {
        "description": "The number of elements in the response.\nA server may omit this information, if the information about the\nnumber of elements is not known or difficult to compute.\nIf the value is provided, the value shall be identical to the number\nof elements in the response.",
        "type": "integer",
        "minimum": 0,
        "example": 10
      },
      "numberMatched": {
        "description": "The number of elements in the response that match the selection parameters like `bbox`.",
        "type": "integer",
        "minimum": 0,
        "example": 127
      },
      "schema": {
        "description": "Attributes of the features or rangetypes of a coverage. Defined by a subset of the JSON Schema for the properties of a feature",
        "type": "object",
        "required": [
          "type",
          "properties"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "object"
            ]
          },
          "required": {
            "description": "Implements 'multiplicity' by citing property 'name' defined as 'additionalProperties'",
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string"
            }
          },
          "properties": {
            "type": "object",
            "default": {},
            "additionalProperties": {
              "description": "No property names are defined but any property name they should be described by JSON Schema. So 'additionalProperties' implements 'name'.",
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "description": {
                  "description": "Implements 'description'",
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "array",
                    "boolean",
                    "integer",
                    "null",
                    "number",
                    "object",
                    "string"
                  ]
                },
                "enum": {
                  "description": "Implements 'acceptedValues'",
                  "type": "array",
                  "minItems": 1,
                  "items": {},
                  "uniqueItems": true
                },
                "format": {
                  "description": "Complements implementation of 'type'",
                  "type": "string"
                },
                "contentMediaType": {
                  "description": "Implements 'mediaType'",
                  "type": "string"
                },
                "maximum": {
                  "description": "Implements 'range'",
                  "type": "number"
                },
                "exclusiveMaximum": {
                  "description": "Implements 'range'",
                  "type": "number"
                },
                "minimum": {
                  "description": "Implements 'range'",
                  "type": "number"
                },
                "exclusiveMinimum": {
                  "description": "Implements 'range'",
                  "type": "number"
                },
                "pattern": {
                  "type": "string",
                  "format": "regex"
                },
                "maxItems": {
                  "description": "Implements 'upperMultiplicity'",
                  "type": "integer",
                  "minimum": 0
                },
                "minItems": {
                  "description": "Implements 'lowerMultiplicity'",
                  "type": "integer",
                  "default": 0,
                  "minimum": 0
                },
                "x-ogc-definition": {
                  "type": "string",
                  "format": "uri"
                },
                "x-ogc-unit": {
                  "type": "string"
                },
                "x-ogc-unitLang": {
                  "type": "string",
                  "format": "uri"
                },
                "x-ogc-propertySeq": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          }
        }
      },
      "coverageSchema": {
        "title": "Coverage object",
        "description": "Component of OGC Coverage Implementation Schema 1.1. Last updated: 2016-may-18. Copyright (c) 2016 Open Geospatial Consortium, Inc. All Rights Reserved. To obtain additional rights of use, visit http://www.opengeospatial.org/legal/.",
        "type": "object",
        "oneOf": [
          {
            "required": [
              "type",
              "domainSet",
              "rangeSet",
              "rangeType"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "enum": [
                  "CoverageByDomainAndRange"
                ]
              },
              "envelope": {
                "title": "envelope",
                "description": "The envelope around a coverage is defined by the lower and upper bound of each axis, respectively. The purpose of the axisLabels attribute, which lists the axis labels of all axisExtent elements in proper sequence, is to enforce axis sequence also in XML systems which do not preserve document order.",
                "type": "object",
                "required": [
                  "type",
                  "srsName",
                  "axisLabels",
                  "axis"
                ],
                "properties": {
                  "type": {
                    "enum": [
                      "EnvelopeByAxis"
                    ]
                  },
                  "id": {
                    "type": "string"
                  },
                  "srsName": {
                    "type": "string",
                    "format": "uri"
                  },
                  "axisLabels": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "axis": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "lowerBound",
                        "upperBound",
                        "uomLabel"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "type": {
                          "enum": [
                            "AxisExtent"
                          ]
                        },
                        "id": {
                          "type": "string"
                        },
                        "axisLabel": {
                          "type": "string"
                        },
                        "lowerBound": {
                          "oneOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "string",
                              "nullable": true
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        },
                        "upperBound": {
                          "oneOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "string",
                              "nullable": true
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        },
                        "uomLabel": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "domainSet": {
                "type": "object",
                "title": "domainSet",
                "description": "The domainSet describes the *direct positions* of the coverage, i.e., the locations for which values are available.",
                "oneOf": [
                  {
                    "required": [
                      "type",
                      "generalGrid"
                    ],
                    "properties": {
                      "type": {
                        "enum": [
                          "DomainSet"
                        ]
                      },
                      "generalGrid": {
                        "title": "General Grid",
                        "description": "A general n-D grid is defined through a sequence of axes, each of which can be of a particular axis type.",
                        "type": "object",
                        "required": [
                          "type"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "type": {
                            "enum": [
                              "GeneralGridCoverage"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "srsName": {
                            "type": "string",
                            "format": "uri"
                          },
                          "axisLabels": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "axis": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "oneOf": [
                                {
                                  "title": "Index Axis",
                                  "description": "An Index Axis is an axis with only integer positions allowed.",
                                  "required": [
                                    "type",
                                    "axisLabel",
                                    "lowerBound",
                                    "upperBound"
                                  ],
                                  "additionalProperties": false,
                                  "properties": {
                                    "type": {
                                      "enum": [
                                        "IndexAxis"
                                      ]
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "axisLabel": {
                                      "type": "string"
                                    },
                                    "lowerBound": {
                                      "type": "number"
                                    },
                                    "upperBound": {
                                      "type": "number"
                                    }
                                  }
                                },
                                {
                                  "title": "Regular Axis",
                                  "description": "A Regular Axis is an axis where all direct coordinates are at a common distance from its immediate neighbors.",
                                  "required": [
                                    "type",
                                    "axisLabel",
                                    "lowerBound",
                                    "upperBound",
                                    "resolution",
                                    "uomLabel"
                                  ],
                                  "additionalProperties": false,
                                  "properties": {
                                    "type": {
                                      "enum": [
                                        "RegularAxis"
                                      ]
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "axisLabel": {
                                      "type": "string"
                                    },
                                    "lowerBound": {
                                      "type": "string"
                                    },
                                    "upperBound": {
                                      "type": "string"
                                    },
                                    "uomLabel": {
                                      "type": "string"
                                    },
                                    "resolution": {
                                      "type": "number"
                                    }
                                  }
                                },
                                {
                                  "title": "Irregular Axis",
                                  "description": "An irregular axis enumerates all possible direct position coordinates.",
                                  "required": [
                                    "type",
                                    "axisLabel",
                                    "uomLabel",
                                    "coordinate"
                                  ],
                                  "additionalProperties": false,
                                  "properties": {
                                    "type": {
                                      "enum": [
                                        "IrregularAxis"
                                      ]
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "axisLabel": {
                                      "type": "string"
                                    },
                                    "uomLabel": {
                                      "type": "string"
                                    },
                                    "coordinate": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              ]
                            }
                          },
                          "displacement": {
                            "title": "Displacement",
                            "description": "A Displacement is a warped axis nest where points on the grid all have their individual direct position coordinates. The sequenceRule element describes linearization order.",
                            "type": "object",
                            "oneOf": [
                              {
                                "required": [
                                  "type",
                                  "axisLabels",
                                  "uomLabels",
                                  "coordinates"
                                ],
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "DisplacementAxisNest"
                                    ]
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "axisLabel": {
                                    "type": "string"
                                  },
                                  "srsName": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "axisLabels": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "uomLabels": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "coordinates": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              },
                              {
                                "required": [
                                  "type",
                                  "axisLabels",
                                  "uomLabels",
                                  "coordinatesRef"
                                ],
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "DisplacementAxisNestRef"
                                    ]
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "axisLabel": {
                                    "type": "string"
                                  },
                                  "srsName": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "axisLabels": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "uomLabels": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "coordinatesRef": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            ]
                          },
                          "model": {
                            "title": "Sensor model",
                            "description": "A Transformation By Sensor Model is a transformation definition which is given by a SensorML 2.0 transformation specification.",
                            "type": "object",
                            "required": [
                              "type",
                              "sensorModelRef"
                            ],
                            "properties": {
                              "type": {
                                "enum": [
                                  "TransformationBySensorModel"
                                ]
                              },
                              "id": {
                                "type": "string"
                              },
                              "axisLabels": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "uomLabels": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "sensorModelRef": {
                                "type": "string",
                                "format": "uri"
                              },
                              "sensorInstanceRef": {
                                "type": "string",
                                "format": "uri"
                              }
                            }
                          },
                          "gridLimits": {
                            "title": "Grid limits",
                            "description": "This is the boundary of the array underlying the grid, given by its diagonal corner points in integer _60_3D. The grid limits can be omitted in case all axes are of type index axis, because then it repeats the grid information in a redundant way. The purpose of the axisLabels attribute, which lists the axis labels of all axisExtent elements in proper sequence, is to enforce axis sequence also in XML systems which do not preserve document order.",
                            "type": "object",
                            "required": [
                              "type"
                            ],
                            "properties": {
                              "type": {
                                "enum": [
                                  "GridLimits"
                                ]
                              },
                              "indexAxis": {
                                "title": "Index Axis",
                                "description": "An Index Axis is an axis with only integer positions allowed.",
                                "type": "object",
                                "required": [
                                  "type",
                                  "lowerBound",
                                  "upperBound"
                                ],
                                "additionalProperties": false,
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "IndexAxis"
                                    ]
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "axisLabel": {
                                    "type": "string"
                                  },
                                  "lowerBound": {
                                    "type": "number"
                                  },
                                  "upperBound": {
                                    "type": "number"
                                  }
                                }
                              },
                              "srsName": {
                                "type": "string",
                                "format": "uri"
                              },
                              "axisLabels": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  {
                    "required": [
                      "type",
                      "directMultiPoint"
                    ],
                    "properties": {
                      "type": {
                        "enum": [
                          "DomainSet"
                        ]
                      },
                      "directMultiPoint": {
                        "oneOf": [
                          {
                            "required": [
                              "type",
                              "coordinates"
                            ],
                            "properties": {
                              "type": {
                                "enum": [
                                  "DirectMultiPoint"
                                ]
                              },
                              "coordinates": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          {
                            "required": [
                              "type",
                              "coordinatesRef"
                            ],
                            "properties": {
                              "type": {
                                "enum": [
                                  "DirectMultiPointRef"
                                ]
                              },
                              "coordinatesRef": {
                                "type": "string",
                                "format": "uri"
                              }
                            }
                          }
                        ]
                      }
                    }
                  },
                  {
                    "required": [
                      "type",
                      "fileReference"
                    ],
                    "properties": {
                      "type": {
                        "enum": [
                          "DomainSetRef"
                        ]
                      },
                      "id": {
                        "type": "string",
                        "format": "uri"
                      },
                      "fileReference": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                ]
              },
              "rangeSet": {
                "title": "rangeSet",
                "description": "The rangeSet lists a value for each of the coverage's direct positions. Values resemble the *payload* information of some particular direct positions. Values can be composite (with a single nesting level, i.e.: composites always consist of atomics), or atomic (emulated through single-component composites) whereby the sequence, structure, and meaning of every value is defined through the rangeType. Values can be represented in-line or by reference to an external file which may have any suitable encoding.",
                "type": "object",
                "oneOf": [
                  {
                    "required": [
                      "type",
                      "dataBlock"
                    ],
                    "properties": {
                      "type": {
                        "enum": [
                          "RangeSet"
                        ]
                      },
                      "dataBlock": {
                        "title": "dataBlock",
                        "description": "Data block objects",
                        "type": "object",
                        "required": [
                          "type",
                          "values"
                        ],
                        "properties": {
                          "type": {
                            "enum": [
                              "VDataBlock",
                              "CVDataBlock"
                            ]
                          },
                          "values": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  {
                    "required": [
                      "type",
                      "fileReference"
                    ],
                    "properties": {
                      "type": {
                        "enum": [
                          "RangeSetRef"
                        ]
                      },
                      "fileReference": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  }
                ]
              },
              "rangeType": {
                "title": "rangeType",
                "description": "The rangeType element describes the structure and semantics of a coverage's range values, including (optionally) restrictions on the interpolation allowed on such values.",
                "type": "object",
                "oneOf": [
                  {
                    "required": [
                      "type",
                      "field"
                    ],
                    "properties": {
                      "type": {
                        "enum": [
                          "DataRecord"
                        ]
                      },
                      "field": {
                        "type": "array",
                        "items": {
                          "title": "DataRecord field",
                          "description": "e.g. Quantity or Count",
                          "type": "object",
                          "required": [
                            "type"
                          ],
                          "properties": {
                            "type": {
                              "enum": [
                                "Quantity",
                                "Count"
                              ]
                            },
                            "id": {
                              "type": "string",
                              "format": "uri"
                            },
                            "name": {
                              "type": "string"
                            },
                            "definition": {
                              "type": "string",
                              "format": "uri"
                            },
                            "uom": {
                              "title": "units of measure",
                              "description": "units of measure",
                              "type": "object",
                              "required": [
                                "type",
                                "code"
                              ],
                              "properties": {
                                "type": {
                                  "enum": [
                                    "UnitReference"
                                  ]
                                },
                                "id": {
                                  "type": "string",
                                  "format": "uri"
                                },
                                "code": {
                                  "type": "string"
                                }
                              }
                            },
                            "constraint": {
                              "title": "Constraint",
                              "description": "Constraint",
                              "type": "object",
                              "required": [
                                "type"
                              ],
                              "properties": {
                                "type": {
                                  "enum": [
                                    "AllowedValues"
                                  ]
                                },
                                "id": {
                                  "type": "string",
                                  "format": "uri"
                                },
                                "interval": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "interpolationRestriction": {
                        "title": "interpolationRestriction",
                        "description": "Interpolation restriction",
                        "type": "object",
                        "required": [
                          "type"
                        ],
                        "properties": {
                          "type": {
                            "enum": [
                              "InterpolationRestriction"
                            ]
                          },
                          "id": {
                            "type": "string",
                            "format": "uri"
                          },
                          "allowedInterpolation": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "format": "uri"
                            }
                          }
                        }
                      }
                    }
                  },
                  {
                    "required": [
                      "type",
                      "fileReference"
                    ],
                    "properties": {
                      "type": {
                        "enum": [
                          "RangeTypeRef"
                        ]
                      },
                      "id": {
                        "type": "string",
                        "format": "uri"
                      },
                      "fileReference": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                ]
              },
              "metadata": {
                "title": "Metadata",
                "description": "The metadata element is a container of any (not further specified) information which should be transported along with the coverage on hand, such as domain-specific metadata.",
                "type": "object"
              }
            }
          },
          {
            "required": [
              "type",
              "partitionSet",
              "rangeType"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "enum": [
                  "CoverageByPartitioning"
                ]
              },
              "envelope": {
                "$ref": "#/components/schemas/coverageSchema/oneOf/0/properties/envelope"
              },
              "partitionSet": {
                "title": "Partitioning Set",
                "description": "A partition describes how a coverage (*sub-coverage*) referenced is located within referencing coverage (*super-coverage*). The sub-coverage can be represented by referencing a coverage id or a URL pointing to a coverage.  Such sub-coverages referenced may be grouped into the super-coverage document, or reside remote, or mixed. As an additional alternative, single range values can be indicated verbatimg, together with their direct position. All values must share an identical structure and conform to the rangeType definition.",
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "enum": [
                      "PartitionSet"
                    ]
                  },
                  "partition": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "oneOf": [
                        {
                          "required": [
                            "type",
                            "coverageRef"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "enum": [
                                "PartitionRef"
                              ]
                            },
                            "envelope": {
                              "$ref": "#/components/schemas/coverageSchema/oneOf/0/properties/envelope"
                            },
                            "coverageRef": {
                              "type": "string",
                              "format": "uri"
                            }
                          }
                        },
                        {
                          "required": [
                            "type",
                            "coverage"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "enum": [
                                "Partition"
                              ]
                            },
                            "envelope": {
                              "$ref": "#/components/schemas/coverageSchema/oneOf/0/properties/envelope"
                            },
                            "coverage": {
                              "type": "object"
                            }
                          }
                        }
                      ]
                    }
                  },
                  "positionValuePair": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "coordinate",
                        "value"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "enum": [
                            "PVP"
                          ]
                        },
                        "coordinate": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "string"
                              },
                              {
                                "type": "boolean"
                              }
                            ]
                          }
                        },
                        "value": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "string",
                                "nullable": true
                              },
                              {
                                "type": "boolean"
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              },
              "rangeType": {
                "$ref": "#/components/schemas/coverageSchema/oneOf/0/properties/rangeType"
              },
              "metadata": {
                "$ref": "#/components/schemas/coverageSchema/oneOf/0/properties/metadata"
              }
            }
          }
        ]
      },
      "tileSet": {
        "title": "Tile Set Metadata",
        "description": "A resource describing a tileset based on the OGC TileSet Metadata Standard. At least one of the 'TileMatrixSet',  or a link with 'rel' http://www.opengis.net/def/rel/ogc/1.0/tiling-scheme",
        "type": "object",
        "required": [
          "dataType",
          "crs",
          "links"
        ],
        "properties": {
          "title": {
            "description": "A title for this tileset",
            "type": "string"
          },
          "description": {
            "description": "Brief narrative description of this tile set",
            "type": "string"
          },
          "dataType": {
            "allOf": [
              {
                "description": "Type of data represented in the tileset"
              },
              {
                "$ref": "#/components/schemas/dataType"
              }
            ]
          },
          "crs": {
            "allOf": [
              {
                "description": "Coordinate Reference System (CRS)"
              },
              {
                "$ref": "#/components/schemas/crs"
              }
            ]
          },
          "tileMatrixSetURI": {
            "description": "Reference to a Tile Matrix Set on an offical source for Tile Matrix Sets such as the OGC NA definition server (http://www.opengis.net/def/tms/). Required if the tile matrix set is registered on an open official source.",
            "type": "string",
            "format": "uri"
          },
          "links": {
            "description": "Links to related resources. Possible link 'rel' values are: 'http://www.opengis.net/def/rel/ogc/1.0/dataset' for a URL pointing to the dataset, 'item' for a URL template to get a tile; 'alternate' for a URL pointing to another representation of the TileSetMetadata (e.g a TileJSON file); 'http://www.opengis.net/def/rel/ogc/1.0/tiling-scheme' for a definition of the TileMatrixSet; 'http://www.opengis.net/def/rel/ogc/1.0/geodata' for pointing to a single collection (if the tileset represents a single collection)",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "tileMatrixSetLimits": {
            "description": "Limits for the TileRow and TileCol values for each TileMatrix in the tileMatrixSet. If missing, there are no limits other that the ones imposed by the TileMatrixSet. If present the TileMatrices listed are limited and the rest not available at all",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tileMatrixLimits"
            }
          },
          "epoch": {
            "description": "Epoch of the Coordinate Reference System (CRS)",
            "type": "number"
          },
          "layers": {
            "minItems": 1,
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "dataType"
              ],
              "properties": {
                "title": {
                  "description": "Title of this tile matrix set, normally used for display to a human",
                  "type": "string"
                },
                "description": {
                  "description": "Brief narrative description of this tile matrix set, normally available for display to a human",
                  "type": "string"
                },
                "keywords": {
                  "description": "Unordered list of one or more commonly used or formalized word(s) or phrase(s) used to describe this layer",
                  "type": "string"
                },
                "id": {
                  "description": "Unique identifier of the Layer. Implementation of 'identifier'",
                  "type": "string"
                },
                "dataType": {
                  "allOf": [
                    {
                      "description": "Type of data represented in the layer"
                    },
                    {
                      "$ref": "#/components/schemas/dataType"
                    }
                  ]
                },
                "geometryDimension": {
                  "description": "The geometry dimension of the features shown in this layer (0: points, 1: curves, 2: surfaces, 3: solids), unspecified: mixed or unknown",
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 3
                },
                "featureType": {
                  "description": "Feature type identifier. Only applicable to layers of datatype 'geometries'",
                  "type": "string"
                },
                "attribution": {
                  "description": "Short reference to recognize the author or provider",
                  "type": "string"
                },
                "license": {
                  "description": "License applicable to the tiles",
                  "type": "string"
                },
                "pointOfContact": {
                  "description": "Useful information to contact the authors or custodians for the layer (e.g. e-mail address, a physical address,  phone numbers, etc)",
                  "type": "string"
                },
                "publisher": {
                  "description": "Organization or individual responsible for making the layer available",
                  "type": "string"
                },
                "theme": {
                  "description": "Category where the layer can be grouped",
                  "type": "string"
                },
                "crs": {
                  "allOf": [
                    {
                      "description": "Coordinate Reference System (CRS)"
                    },
                    {
                      "$ref": "#/components/schemas/crs"
                    }
                  ]
                },
                "epoch": {
                  "description": "Epoch of the Coordinate Reference System (CRS)",
                  "type": "number"
                },
                "minScaleDenominator": {
                  "description": "Minimum scale denominator for usage of the layer",
                  "type": "number"
                },
                "maxScaleDenominator": {
                  "description": "Maximum scale denominator for usage of the layer",
                  "type": "number"
                },
                "minCellSize": {
                  "description": "Minimum cell size for usage of the layer",
                  "type": "number"
                },
                "maxCellSize": {
                  "description": "Maximum cell size for usage of the layer",
                  "type": "number"
                },
                "maxTileMatrix": {
                  "description": "TileMatrix identifier associated with the minScaleDenominator",
                  "type": "string"
                },
                "minTileMatrix": {
                  "description": "TileMatrix identifier associated with the maxScaleDenominator",
                  "type": "string"
                },
                "boundingBox": {
                  "allOf": [
                    {
                      "description": "Minimum bounding rectangle surrounding the layer"
                    },
                    {
                      "$ref": "#/components/schemas/2DBoundingBox"
                    }
                  ]
                },
                "created": {
                  "allOf": [
                    {
                      "description": "When the layer was first produced"
                    },
                    {
                      "$ref": "#/components/schemas/timeStamp"
                    }
                  ]
                },
                "updated": {
                  "allOf": [
                    {
                      "description": "Last layer change/revision"
                    },
[...]
